@import url('https://fonts.googleapis.com/css2?family=Almarai:wght@300;400;700;800&family=Baloo+2:wght@400..800&display=swap');
  
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,
body {
  width: 100vw;
  height: 100dvh;
  overflow-x: hidden;
  overflow-y: hidden;
  font-family: "Almarai", serif;
  font-weight: 400;
  font-style: normal;
}
html {
    font-size: 1.69dvh;
}
body {
    background-color: #131313;
}

header {
    color: white;
    position: absolute;
    top: 0;
    right: 10%;
    width: max-content;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    column-gap: 100px;
    padding-top: 2rem;
    font-size: 1.25rem;
    font-weight: 700;
    z-index: 10;
}
.nav-button, .pag-button {
    width: max-content;
    text-decoration: none;
    font-style: normal;
    color: white;
    transition: .3s;
}
.nav-button:hover {
    scale: 1.1;
}

.text {
    color: white;
    position: absolute;
    top: 15rem;
    right: 5rem;
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    text-align: right;
    align-items: flex-end;
}
.title, .album-num {
    font-size: 5.75rem;
    font-weight: 800;
}
.subtitle {
    font-size: 1.25rem;
    max-width: 23rem;
    font-weight: 300;
    text-align: right;
}
.landing-subtitle {
    display: inline-flex; 
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    row-gap: 1rem;
}

@keyframes vinyl-rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

/* #vinyl-container {position: absolute;} */
.vinyl-component {
    width: 126%;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    transform-origin: center;
}
.vinyl-perm {
    animation: vinyl-rotate 15s linear infinite normal;
    left: -783px;
    top: -207px;
    pointer-events: none
}
.vinyl-component:not(.vinyl-perm) {
    transition: .6s;
}
.album-vinyl {
    left: -783px;
    top: -240px;
}
.artist-vinyl {
    right: -783px;
    top: -240px;
}


.vinyl-active.album-vinyl {
    animation: vinyl-rotate 25s linear infinite normal;
}
.vinyl-active.artist-vinyl {
    animation: vinyl-rotate 25s linear infinite reverse;
}
.vinyl-component:not(.vinyl-active) {
    filter: blur(5px);
    scale: .68;
}
.album-vinyl:not(.vinyl-active) {
    left: -900px;
    cursor: pointer;
}
.artist-vinyl:not(.vinyl-active) {
    right: -900px;
    cursor: pointer;
}

.vinyl {
    width: 100%;
}
.vinyl-art {
    position: absolute;
    width: 32.25%;
    border-radius: 50%;
    /* top: 50%;
    left: 50%; */
}
.vinyl-radial {
    position: absolute;
}
.radial-label {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 2.5rem;
    font-weight: 400;
    color: black;
    font-style: italic;
    
}
.album-radial-label {
    align-items: flex-start;
    text-align: left;
}
.artist-radial-label {
    align-items: flex-end;
    text-align: right;
}
.radial-label-x {
    font-size: 6rem;
    font-weight: 800;
    color: black;
    font-style: normal;
}


.album-text {
    top: 9rem;
    row-gap: 5px;
}
.album-num {
    font-weight: 300;
    font-size: 3rem;
    margin-bottom: -1rem;
}
.album-title {
    font-size: 5.75rem;
    font-weight: 800;
    margin-bottom: -9px;
    max-width: 62rem;
}
.artist {
    font-size: 3.25rem;
    font-weight: 700;
    margin-bottom: 1rem;
    font-style: italic;
}
.album-subtitle {
    max-width: none;
}
.album-listens {
    font-weight: 800;
    padding: 0 .15rem;
}
.edit-div {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: flex-start;
    column-gap: 1rem;
    /* transform: translateX(10px); */
}
.artist-edit-div {
    margin-top: .25rem;
}

.false-form {
    margin-top: .5rem;
}

.albums {
    font-size: 5.25;
}
.album-list {
    line-height: 2.5rem;
    max-width: none;
    align-items: flex-end;
    display: flex;
    flex-direction: column;
}
.album-li {
    width: max-content;
    transition: .4s;
}
.album-li:hover {
    scale: 1.1;
}

.albums-title {
    font-size: 1.9rem;
    font-weight: 700;
}
.albums-artist {
    font-style: italic;
}

.pagination-buttons {
    margin-top: .75rem;
    display: flex;
    flex-direction: row;
    column-gap: 2.25rem;
    align-items: flex-end;
    justify-content: center;
    width: max-content;
    height: auto;
}
.page-num {
    font-weight: 700;
}
.pag-button {
   font-size: 1.18rem;
}
.pag-button:hover {
    scale: 1.5;
}

.add-text {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-start;
    row-gap: 1rem;
}
.add-form {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    align-items: flex-end;
    justify-content: flex-start;
}
.add-form-input {
    background-color: transparent;
    border: 2px solid white;
    border-radius: 10px;
    padding: 8px;
    color: white;
    text-align: right;
    width: 100%;
}
input::-webkit-outer-spin-button, input::-webkit-inner-spin-button { -webkit-appearance: none; margin: 0; }

.form-submit {
    background-color: white;
    border: none;
    border-radius: 10px;
    padding: .45rem .8rem;
    color: black;
    margin-top: .5rem;
    font-size: 1rem;
}
.add-error {
    margin-top: .5rem;
}
.delete {
    color: rgb(190, 0, 0)
}
.delete:hover {
    background-color: red;
    color: white;
}
.recalc {
    color: rgb(0, 150, 0)
}
.recalc:hover {
    background-color: rgb(0, 170, 0);
    color: white;
}
.bold {
    font-weight: 800;
    color: white;
}
.spotify-link {
    display: inline-flex;
    align-items: flex-start;
    justify-content: flex-end;
}

.update-form-submit-row {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: flex-start;
    column-gap: 1.5rem;
}

.artist-albums {
    align-items: flex-end;
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
}
.artist-album {
    font-size: 1.75rem;
}

footer {
    font-size: 1rem;
    padding-bottom: 2rem;
    position: absolute;
    bottom: 0;
    right: 5rem;
    width: max-content;
    opacity: .6;
    font-weight: 300;
    position: absolute;
    display: inline-flex;
    align-items: flex-start;
    justify-content: flex-end;
    color: white;
}
.footer-link {
    margin-left: .33em;
    font-weight: 700;
    transition: .4s;
}
.footer-link:hover {
    scale: 1.03;
}
.hyperlink-arrow {
    font-size: .5rem;
    padding-left: .1rem;
}

@media (max-width: 1300px) {
    html {
      font-size: 1.4dvh;
    }
    .vinyl-perm {
        left: -60%;
        top: -10%;
    }
    .album-vinyl {
        left: -50%;
        top: -10%;
    }
    .artist-vinyl {
        right: -50%;
        top: -10%;
    }
    .album-vinyl:not(.vinyl-active) {
        left: -65%;
    }
    .artist-vinyl:not(.vinyl-active) {
        right: -65%;
    }

    .album-title {
        max-width: 55rem;
    }
    .album-text {
        top: 14rem;
    }
}
